*{
    font-family: 'Bubblegum Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #A5BF45;
    font-size: 1.375rem;
}
header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav ul li {
    margin-right: 30px;
}
header nav ul li a {
    text-decoration: none;
    color: #000000
}
header nav ul li img {
    height: 1.8rem;
}
.logo img {
    height: 7.5rem;
}
.contenedor1 h1 {
    font-size: 2.5rem;
    text-align:center;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}
.contenedor1 p {
    font-size: 1.5625rem;
    text-align: justify;
    margin-top: 1.875rem;
    margin-left: 7.8125rem;
    margin-right: 7.8125rem;
    margin-bottom: 1.875rem;
}
.contenedor2{
    background-color: #F2B705;
}
.contenedor2 h2 {

    text-align:center;
    font-size: 2.5rem;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}
.contenedorEnvio {
    display: flex;
    align-items: center;
}
.contenedorEnvio p{
    font-size: 2rem;
    flex: 1;
    margin-right: 20px;
}
.repartidor {
    width: 40rem;
    margin:1.5rem;
}
.contenedor3{
    padding-top:  1.875rem;
    padding-bottom: 1.875rem;
    text-align: center;
}
.contenedor3 div {
display: inline-block;
margin: 8px;
text-align: center;
font-size: 1.5rem;
}
.contenedor3 div a {
    text-decoration: none;
    color: #000000;
}
.contenedor3 div img{
    width: 25rem;
}
.ropa img {
    border-left:15px solid #FFDA69;
    border-right: 15px solid #FFDA69;
    border-top: 15px solid #FFDA69;
    border-bottom: 15px solid #FFDA69;
    border-radius: 40px;
}
.alimentos img {
    border-left:15px solid #FCB866;
    border-right: 15px solid #FCB866;
    border-top: 15px solid #FCB866;
    border-bottom: 15px solid #FCB866;
    border-radius: 40px;
}
.juguetes img {
    border-left:15px solid #C6E067;
    border-right: 15px solid #C6E067;
    border-top: 15px solid #C6E067;
    border-bottom: 15px solid #C6E067;
    border-radius: 40px;
}
.contenedor4  h4 {
    background-color: #F28705;
    color:white;
    text-align: center;
    font-size: 2.1875rem;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}
.contenedorTestimonios  {
    background-color: #F28705;
    color: #FFFF;
    font-size: 1.5625rem;
    padding: 80px;
}
.contenedorTestimonios  {
    display: flex;
    flex-direction: row;
}
.testimonio {
    flex: 1;
    margin-right: 20px;
}
.contenedor5 {
    font-size: 1.875rem;
    text-align:center;
    padding: 75px;
}
footer {
    background-color: #A5BF45; 
}
.footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
}
.whatsapp {
    text-align: center;
}
.whatsapp a img {
    text-align: center;
    width: 4.5rem;
    
}
.whatsapp p{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.redesSociales p {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.redesSociales ul {
    list-style: none; 
    padding: 0; 
    display: flex;}

.redesSociales li {
    margin-right: 10px;
}
.redesSociales ul li a img {
    width: 3.5rem;
}
.logoFooter a img{
    width:6.5rem;
}
.copyright {
    font-size: 19px;
    text-align: center; 
    margin-top: 10px;
    padding-bottom: 10px;
}

/* css productos */

.tituloProductos {
    font-size: 1.875rem;
    text-align:center;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}
.productos{
    width: 1440px;
    margin: 0 auto;
    padding: 30px;
}
.productos li {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 35px 35px 35px 35px;
}
.productos li img {
    width: 220px;
}
.productos h2 {
    font-size: 25px;
    font-weight: bold;

}
.precio {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;

}
.descripcionPro {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;

}
.menuPaginas{
    font-size: 1.25rem;
    text-align: center;
    width: 1440px;
    margin: 0 auto;
    padding: 30px;
}

/* css carrito */

.carrito {
    width: 1440px;
    margin: 0 auto;
    padding: 30px;
}
.carrito h1 {
    font-size: 2.8125rem;
    text-align: center;
}
.carritoVacio {
    text-align: center;
}
.textoCarrito{
    font-size: 1.375rem;
    text-align: justify;
}
.textoCarrito a {
    text-decoration: none;
    color: #000000
}

/* css contacto*/
.tituloContacto {
    margin: 4.5rem;
    text-align: center;
}
.contactoWhatsapp {
background-color: #A5BF45;
}
.contactoWhatsapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contactoWhatsapp div:nth-child(1) {
    flex: 1;
    margin-right: 1.5rem; 
}
.contactoWhatsapp div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactoWhatsapp div:nth-child(2) p {
    margin-top: 5px;
    font-size: 1rem; 
}
.formularioPrincipal {
    width: 940px;
    padding-top: 20px; 
    border-radius: 10px; 
    margin: 0 auto;
}
.formularioContenido h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 1.2rem
}
.formularioContenido form label, input{
    display: block;
    font-size: 20px;
    margin: 0 0 20px
}
.contenidoTexto {
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
}
.contenidoTexto:hover {
    border-color: #D95204;
}
.enviar{
    width:20%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #F28705;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover {
    background: #D95204;
}
/*css formulario enviado*/
.responder {
    width: 1440px;
    margin: 0 auto;
    padding: 30px;
}
.responder h1 {
    font-size: 2.8125rem;
    text-align: center;
}
.imagenRespuesta {
    
    text-align: center;
}
.textoRespuesta{
    font-size: 1.375rem;
    text-align: justify;
}
.textoRespuesta a {
    text-decoration: none;
    color: #000000
}
